* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #c7e4be;
}

h1,
h2,
h3,
p {
    margin: 8px 0;
}

/* List indentations */

ul {
    margin-left: 30px;
}

ol {
    margin-left: 30px;
}

/* Homepage styling */

.homebody {
    width: 400px;
    margin: 50px auto;
}

.homeheader {
    font-size: 50px;
}

.home-link {
    text-decoration: none;
    color: black;
}

.home-link:hover {
    color: #05630e;
}

.odin {
    height: auto;
    width: 400px;
}

.home-recipe {
    display: block;
    padding: 10px 20px;
    background-color: none; /* Button background color */
    color: black; /* Text color */
    text-decoration: none; /* Remove underline */
    border: 2px solid black;
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.home-recipe:hover {
    background-color: #05ac0e; /* Darker shade on hover */
    border: none;
    color: white;
}


/* Recipe Pages General Styling */

.recipe-body {
    width: 800px;
    margin: 50px auto;
}

.index-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #05ac0e; /* Button background color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border: none;
    border-radius: 5px; /* Rounded corners */
    text-align: center;
    cursor: pointer;
    margin: 8px 0;
}

.index-button:hover {
    background-color: #05630e; /* Darker shade on hover */
}

/* Grilled-Salmon Page Styling */

.salmon-img {
    height: 300px;
    width: auto;
    border-radius: 5px; /* Rounded corners */
}

/* Butter Chicken Page Styling */

.butter-chicken-img {
    height: 500px;
    width: auto;
    border-radius: 5px; /* Rounded corners */
}

/* Maggi Goreng Page Styling */

.maggi-goreng-img {
    height: 340px;
    width: auto;
    border-radius: 5px; /* Rounded corners */
}

